:root {
    --color-pink: #D10B78;
    --color-light-pink: #FDF0F7;

    --color-blue: #124592;
    --color-blue-gray: #91AACF;

    --color-promo-bar: #FFFAC5;

    --main-font-family: "Mulish";

    --bg-section-color: #F8F9FA;

    --bg-light-blue: #f9fbfd;
}

body,
* {
    font-family: var(--main-font-family);
}

.homepage h2 {
    font-size: 28px;
}

.homepage h2,
.homepage h3,
.homepage h4,
.homepage h5,
.homepage h6 {
    font-weight: 700;
}

.homepage img {
    width: auto;
    height: auto;
}

.custom-container {
  max-width: 1320px;
}

.btn--primary, 
.btn--alt {
    padding: 15px 45px !important;

    font-weight: 700 !important;
}

.btn--primary {
    background: var(--color-pink);
    color: #fff !important;
    justify-content: center;
    align-items: center;
    border-radius: 55px !important;
    border-color: transparent !important;
    font-size: 18px !important;
}

.btn--alt {
    background: #fff;
    color: var(--color-blue);
    justify-content: center;
    align-items: center;
    border-radius: 55px !important;
    border: 2px solid var(--color-blue-gray);
    font-size: 18px !important;
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.text-blue {
    color: var(--color-blue);
}
.text-pink {
    color: var(--color-pink);
}
.bg-section-color {
    background-color: var(--bg-section-color);
}
.text-decoration-underline-pink {
    text-decoration: underline;
    text-decoration-color: var(--color-pink);
    text-underline-offset: 5px; /* zwiększa odstęp od tekstu */
    text-decoration-thickness: 2px;
}
.padding-homepage-section {
    padding: 80px 0px;
}

/* topbar-nav */
.topbar-nav__contact {
    padding-left: 24px;
    max-width: 583px;
    margin: 0 auto;
    background-color: #F2F4F6;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.topbar-nav__contact .pink-col {
    padding: 8px 24px;
    font-size: 10px;
    border-bottom-right-radius: 180px;
}

.free-consult-phone {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .topbar-nav__contact {
        padding-left: 32px;
        border-bottom-left-radius: 180px;
        border-bottom-right-radius: 180px;
    }
    .topbar-nav__contact .pink-col  {
        padding: 16px 24px;
        font-size: 12px;
        border-bottom-right-radius: 180px;
    }
    .homepage h2 {
        font-size: 40px;
    }
}

/* topbar-nav__menu */
.topbar-nav__menu-list {
    padding: 0px;
    max-width: 984px;
    list-style-type: none;
    flex: 1;
    gap: 8px;
    margin: 0px;
}
.topbar-nav__menu-list li a {
    padding: 0px 16px;
    color: #000;
    font-weight: 500;
}
.topbar-nav__menu-list li .active {
    padding: 20px 22px;
    color: var(--color-pink);
    font-weight: 700;
    background-color: var(--color-light-pink);
    border-radius: 180px;
}

/* promo-bar */
.promo-bar {
    padding: 12px 0px;
    background-color: var(--color-promo-bar);
}

/* hero-section */
.hero-section {
    padding-bottom: 150px;
    position: relative;
}

.hero-section .container {
    position: relative;
}

.hero-section h1 {
    font-size: 28px;
    position: relative;
    max-width: 642px;
    margin-bottom: 0px;
}

.btns-row {
    z-index: 25;
}



.hero-section-bg {
    max-width: 850px;
    flex-direction: column-reverse;
}

.hero-section-bg > img {
    position: relative;
    z-index: 5;
}

.hero-section-bg__label {
    max-width: 311px;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
}

.hero-section-bg__label img {
    position: relative;
    z-index: 1;
}

.hero-section .feature-img-wrapper {
    background-color: #fff;
    max-width: max-content;
    border-radius: 50%;
    margin: 0 auto;
}

.hero-section .feature-col {
    max-width: 312px;
}

.hero-section .feature-img-wrapper {
    box-shadow: 0px 0px 10px #1245921F;
}



.hero-section .features-row p {
    font-size: 18px;
    margin-top: 15px;
}

@media screen and (min-width:768px) {
    .hero-section h1 {
        font-size: 48px;
    }

    .hero-section .features-row {
        margin-top: 100px;
    }

    .hero-section-bg {
        position: absolute;
        z-index: 0;
        right: -51px;
        top: -89px;
        height: 500px;
    }

    .hero-section-bg__label {
        box-shadow: 0px 2px 10px #1245921F;
        position: absolute;
        top: 84px;
        left: 125px;
    }
}
@media screen and (max-width: 767px) {
    .hero-section  {
        padding-top: 0px;
    }
    .hero-section-bg__label {
        position: relative;
        bottom: 15vw;
        z-index: 20;
    }
}
/* about-test-section */

.form-reserve {
    position: relative;
    max-width: 100%;
    background-color: var(--color-blue);
    color: #fff;
    padding: 40px;
    border-radius: 24px;
}
.form-reserve .row {
    max-width: 456px;
}
.form-reserve  label {
    margin-bottom: 0px;
}
.form-reserve .option {
    padding: 10px 12px;
    color: #000;
    border-radius: 10px;
    color: #093d91;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    user-select: none;
    height: 54px;
    font-size: 16px;    
}
.form-reserve .option,
.form-reserve .option .form-control {
    background-color: #fff;
}
.form-reserve .datetime * {
    font-size: 14px;
}
.form-reserve .options .option {
     padding: 16px 24px;
}
.form-reserve .option input[type="text"],
.form-reserve .option select {
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    border-radius: 10px;
}

.form-reserve .option select {
    border: none;
}
.form-reserve .option input:focus {
    border-left: none;
}
.form-reserve input {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px;
}


.form-reserve .options {
  display: flex;
  gap: 10px;
}
.form-reserve h2 {
    font-size: 24px;
}
/* Zaznaczona opcja */
.form-reserve .option input:checked + span,
.form-reserve .option input:checked {
  border-color: var(--color-pink);
 
}

/* Alternatywna wersja z label zamiast span */
.form-reserve .option:has(input:checked) {
  border-color: var(--color-pink);
   color: var(--color-pink);
   background-color: var(--color-light-pink);
}


.form-reserve .option:focus-within,
.form-reserve .option:has(:focus) {   
  border: 2px solid var(--color-pink);
}

@media screen and (min-width: 768px) {
    .form-reserve {
        top: 90px;
        max-width: max-content;
    }
    .form-reserve .datetime {
        gap: 15px;
    }
}

/* our-patients-section */
.our-patients-section {
     background: linear-gradient(
               133deg,          /* kąt: lewy-górny → prawy-dolny */
               #ffeaf3 0%,      /* pastelowy róż */
               #f3e8ff 45%,     /* delikatny lawendowy */
               #e9f2ff 100%     /* jasny niebieski */
             );
}

.relation-col {
    max-width: 592px;
}

.relation-card {
    padding: 24px 32px;
    max-width: 496px;
    border-radius: 24px;
    background-color: #fff;
    box-sizing: content-box;
}
.relation-card__img-wrapper {
    max-width: max-content;
}
.moms-opinions-col {
    max-width: 592px;
    position: relative;
}
.moms-opinions-card {
    width: 100%;
    padding: 32px 48px;
    border-radius: 24px;
    background-color: #fff;
}
.patient-img-wrapper {
    width: 64px;
    height: 64px;
}
.moms-opinions-col::before {
    content: '';
    display: block;
    background-image: url('./img/twisted-arrow-right-to-bottom-icon.png');
    background-repeat: no-repeat;
    width: 88px;
    height: 80px;
    position: relative;
    right: 50px;
    top: 20px;
}

.thanks-for-trust-box {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks-for-trust-box__reviews {
    padding: 16px 32px;
    background-color: #fff;
    border-radius: 180px;
}
@media screen and (min-width: 768px) {
    .our-patients-section h2 {
        font-size: 48px;
    }
    .relation-col {
        margin-top: 120px;
    }
    .relation-col .relation-col__title {
        font-size: 32px;
    }
    .relation-card {
        padding: 40px 48px;
    }
    .moms-opinions-col {
        top: -35px;
    }
    .thanks-for-trust-box {
        width: 553px;
        height: 553px;
        background-image: url('./img/elipse.png');
        background-repeat: no-repeat;
    }
}

/* why-choose-us-section */
.why-choose-us-section .why-us-col h3 {
    font-size: 18px;
    margin-top: -24px;
}

.why-choose-us-section .why-us-col {
    text-align: center;
}

.most-important-points h4 {
    font-size: 18px;
}
.most-important-points {
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .why-choose-us-section .why-us-col h3 {
        font-size: 24px;
    }
    .most-important-points h4 {
        font-size: 24px;
    }
}

/* bg-map-section */
.bg-map-block{
    max-width: 872px;
}


/* ========== Zmienne kolorystyczne ========== */
:root{
  --border:#E1E4E8;    /* linie siatki */
  --bg:#F6F8FA;
  --star:gold;
}



/* ========== Ogólne ========== */


/* ========== Tabela ========== */
table.comparison-price{
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;          /* równe szerokości kolumn (oprócz label) */
  font-size:15px;
  border-radius: 16px;
}
.comparison-price thead th:first-child{
    border-top-left-radius: 16px;
}
.comparison-price thead th:last-child{
    border-top-right-radius: 16px;
}
.comparison-price tfoot .labels-cel{
    border-bottom-left-radius: 16px;
}
.comparison-price tfoot td:last-child{
    border-bottom-right-radius: 16px;
}
.comparison-price tbody tr:last-child .labels-cel {
    border-bottom-right-radius: 16px;
}
/* Kolumny */
col.labels{width:210px}
col.best{/* pozostawiamy auto – szerokość liczy się z table-layout:fixed */}

th,td{
  padding:16px 12px;
  text-align:center;
  vertical-align:middle;
  word-wrap:break-word;
}

/* ====== Kolumna etykiet ====== */
.labels-cel{
  background:var(--color-blue);
  color:#fff;
  font-weight:600;
  text-align:left;
}

.comparison-price td {
    border: none;
}
/* ====== Nagłówek planów ====== */
thead th{
  font-weight:700;
  font-size:17px;
}

/* wyróżnienie środkowego planu */
.comparison-price .best-head{
  background:var(--color-pink);
  color:#fff;
}
.comparison-price th {
    background: var(--color-blue);
    color: #fff;
}
.comparison-price td:not(.labels-cel) {
    background: #F8F9FA;
}
/* ====== Zawartość komórek ====== */
.check{color:var(--color-pink);font-weight:700;margin-right:4px}

/* ====== Wyróżniona kolumna „Karyo Plus” ====== */
td.best, th.best-head, tfoot td.best-foot{
  position:relative;           /* aby ramka była rysowana nad sąsiednimi */
}

.comparison-price .best {
    border-left: 1px solid var(--color-pink);
    border-right: 1px solid var(--color-pink);
    background-color: #fff !important;
}

/* sam znaczek ★ możesz zostawić w czcionce lub podmienić na SVG/ikonę */
.badge{
  position:absolute;
  width: 100%;
  bottom: 100%;                     /* wysokość wysunięcia ponad th */
  left:50%;
  transform:translateX(-50%);
  background:var(--color-pink);
  color:#fff;
  padding: 20px 10px;
  white-space:wrap;
  z-index:2;
  border-radius: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;                       /* żeby leżało nad obramowaniem tabeli */
}

.badge .star{
  margin-right:6px;
  font-size:13px;
  vertical-align:middle;
}

/* ====== Sekcja ceny ====== */
.price-box{display:flex;flex-direction:column;gap:12px}
.price{font-size:26px;font-weight:700;color:var(--color-pink)}
.stars{color:var(--star);letter-spacing:2px;font-size:14px}
.opinions{font-size:14px}

/* ====== Przycisk ====== */
.btn{
  background:var(--color-pink);
  color:#fff;
  border:none;
  border-radius:24px;
  padding:10px 24px;
  font-size:15px;
  cursor:pointer;
  transition:background .25s;
}
.btn:hover{background:#c20069}

/* ====== Responsywność (zwijamy do kolumny) ====== */
/* why testDNA section */
.why-testdna-section{
    background: linear-gradient(to right, #f9fbfd 0%, #eef3fa 100%);
}
.why-choose-us-first-col {
    max-height: max-content;
    justify-content: space-between
}
.why-choose-us-first-col__img-wrapper {
    flex: 1 50%;
    padding: 10px;
}
.why-choose-us-first-col__img-wrapper img {
    width: 100%;
}
.why-choose-us-first-col .circle-img {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
}
.why-testdna-block{
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 2px 10px #1245921F;
    margin-bottom: 20px;
    max-width: 536px;
    width: 100%;
}
.why-testdna-block p{
    font-size: 18px;
}
.why-testdna-block h3 {
    font-size: 18px;
    margin: 0px;
}
.how-test-works-section h3{
    font-size: 24px;
}

.how-test-works-steps-list {
    list-style-type: none;
    padding: 0px;
}

.how-test-work-number {
    font-size: 63px;
    color: var(--color-pink);
    font-weight: 700;
}

.how-test-work-text *{
    font-size: 18px;
}

.how-test-works-steps-list__item {
    gap: 24px;
}

.how-test-works-steps-list__item h4,
.how-test-works-steps-list__item p {
    margin: 7px;
}

.how-test-works-benefits-list {
    list-style-type: none;
    border-left: 2px solid #12459226;
    margin-top: 25px;
    margin-left: -8px;
    padding: 0 16px;
    font-size: 18px;
}
.how-test-works-benefits-list li {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    margin-bottom: 24px;
}
.how-test-works-benefits-list li::before {
    content: '';
    display: inline-block;
    position: relative;
    background: url('./img/icons/check-mark-circle.png') no-repeat;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
.how-test-works-banner-wrapper {
    position: relative;
}
.how-test-works-banner-wrapper .collection-points-and-home-img {
    max-height: 715px;
    border-top-left-radius: 18px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 18px;
}

.collection-points-and-home-img-label {
    font-size: 32px;
}
.how-test-works-banner-wrapper {
    position: relative;
    line-height: 1.2;
}
.how-test-works-text-wrapper {
    max-width: 560px;
}
.collection-points-and-home-img-label {
    background: var(--color-light-pink);
    padding: 32px 40px;
    border-radius: 16px;
    max-width: 402px;
    position: absolute;
    color: var(--color-blue);
}
@media screen and (min-width: 768px) {
    .collection-points-and-home-img-label {
        top: 36px;
        left: 189px;
    }
    .why-choose-us-first-col {
        justify-content: center;
    }
    .why-choose-us-first-col__img-wrapper {
        max-width: max-content;
        
    }
    .why-choose-us-first-col .circle-img {
        flex: 1;
    }
}

@media screen and (max-width: 425px) {
    .why-choose-us-first-col .circle-img {
        max-width: 176px;
    }
}
@media screen and (max-width: 767px) {
   
    .collection-points-and-home-img-label {
        bottom: 16px;
        right: 15px;
        padding: 16px 40px;
        font-size: 16px;
    }
    .how-test-works-banner-wrapper .collection-points-and-home-img {
        max-height: 246px;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius: 16px;
    }
}
/* how-example-test-looks */

.example-test-form {
    background-color: var(--color-blue);
    color: #fff;
    padding: 32px;
    border-radius: 12px;
}
.example-test-form label {
    font-size: 18px;
    font-weight: 700;
}
.example-test-form-row {

}
.example-test-form-row__email-input {
    border-radius: 4px;
    border: none;
    padding: 12px 50px !important;
}
.example-test-form-row__email-input::placeholder {
    color: #879DBA;
}
.example-test-form-row {
    position: relative;
}
.example-test-form .submit-btn {
    font-size: 16px !important;
    padding: 7px 45px !important;
}
.example-test-form-row::before {
    content: '';
    display: block;
    background: url('./img/icons/email-pink-icon.png') no-repeat;
    width: 27px;
    height: 24px;
    position: absolute;
    left: 13px;
    top: 11px;
}

.example-test-form .checkbox-label p {
    font-size: 12px;
    margin: 0px;
    margin-left: 8px;
    color: var(--color-light-pink);
}
.felia-test-banner-wrapper {
    margin-left: auto;
    max-width: 535px;
    max-height: 715px;
}
.felia-test-banner-wrapper img{
    display: flex;
    position: relative;
    width: 100%;
    max-height: 100%;;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 16px;
    object-fit: cover;
}
@media screen and (min-width: 768px) {
    .felia-test-banner-wrapper img {
        border-top-left-radius: 180px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 180px;
    }
}

@media screen and (max-width: 767px) {
    .how-example-test-looks-section {
        padding-top: 0px;
    }
}

/* safety-your-child-section */
.safety-your-child-section {
    background: url('./img/renata-posmyk-bg.png'), linear-gradient(to right, #ffffff 0%, #fce7f3 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 86% 27%;
    background-size: 35%, 100%;
}

.doctor-card {
    max-width: 920px;
    background: #fff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 32px 40px;
    box-shadow: 0px 0px 10px #1245921F;
}

/* .prenatal-indications-section */
.prenatal-indications-section  {
    /* background: 
         linear-gradient(
      90deg,          
      #fafafa 0%,     
      rgba(239, 167, 247, 0.10) 10%, 
      rgba(250, 250, 250, 0) 30%     
    ),  url('./img/prenatal-indications-section-bg.jpg'); */
    background-repeat: no-repeat;
    background-size: 1000px;
}


.prenatal-indications-column {
    padding: 32px;
    box-shadow: 0px 0px 10px #1245921F;
    border-radius: 16px;
}

.prenatal-indications-column h3 {
    font-size: 24px;
}

.prenatal-indications-row {
    gap: 24px;
}

.prenatal-indications-section-bg {
    position: absolute;
    left: 0;
    width: 1000px;
}

.prenatal-indications-section-bg img {
    width: 100%;
}